body {
  background-color: #112537;
  font-family: "Poppins", sans-serif;
}

#tsparticles {
  height: 100vh;
}

.center-all {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
