body {
  background-color: #112537;
  font-family: "Poppins", sans-serif;
  color: #131313;
}

#tsparticles {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
