body {
  background-color: #10151f;
  font-family: "Poppins", sans-serif;
  color: #131313;
}

#tsparticles {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #b4b4b4;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
