body {
  background-color: #10151f;
  font-family: "Poppins", sans-serif;
  color: #131313;
}

#particles > canvas {
  background: linear-gradient(
    60deg,
    #0c2d50,
    #2b366a,
    #4b3e80,
    #6f448e,
    #944a94,
    #ba4f8f,
    #df5780,
    #ff6565
  );
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #b4b4b4;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
